<h1>Listing guests</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Description</th>
      <th>Topic</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.first_name %></td>
        <td><%= guest.last_name %></td>
        <td><%= guest.description %></td>
        <td><%= guest.topic %></td>
        <td><%= guest.rating %></td>
        <td><%= link_to 'Show', guest %></td>

        <% if admin? %>
          <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
          <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
  <%= link_to 'New Guest', new_guest_path %>
<% end %>