<h1>Listing guests</h1>

<table>
  <thead>
    <tr>
      <th>Guestnum</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Description</th>
      <th>Topic</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.id %></td>
        <td><%= guest.firstName %></td>
        <td><%= guest.lastName %></td>
        <td><%= guest.description %></td>
        <td><%= guest.topic %></td>
        <td><%= guest.rating %></td>
        <td><%= link_to 'Show', guest, class: "content-link" %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest), class: "content-link" %></td>
        <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' }, class: "content-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest', new_guest_path, class: "content-link" %>
