<p id="notice"><%= notice %></p>

<p>
  <strong>Guestnum:</strong>
  <%= @guest.guestNum %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @guest.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @guest.lastName %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guest.description %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @guest.topic %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @guest.rating %>
</p>

<p>
  <strong>Timeslotnum:</strong>
  <%= @guest.timeSlotNum %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest), class: "content-link" %> |
<%= link_to 'Back', guests_path, class: "content-link" %>
