<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @guest.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guest.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guest.description %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @guest.topic %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @guest.rating %>
</p>

<% if admin? %>
<%= link_to 'Edit', edit_guest_path(@guest) %> |
<% end %>

<%= link_to 'Back', guests_path %>
