<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @track.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @track.end_time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @track.type %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
