<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @artist.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @artist.last_name %>
</p>

<p>
  <strong>Stage name:</strong>
  <%= @artist.stage_name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @artist.nationality %>
</p>

<p>
  <strong>Band name:</strong>
  <%= @artist.band_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @artist.date_of_birth %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
