<%= form_for(@host_show) do |f| %>
  <% if @host_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host_show.errors.count, "error") %> prohibited this host_show from being saved:</h2>

      <ul>
      <% @host_show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hostStartYear %><br>
    <%= f.date_select :hostStartYear %>
  </div>
  <div class="field">
    <%= f.label :hostStartMonth %><br>
    <%= f.date_select :hostStartMonth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
