<h1>Listing host_shows</h1>

<table>
  <thead>
    <tr>
      <th>Hoststartyear</th>
      <th>Hoststartmonth</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @host_shows.each do |host_show| %>
      <tr>
        <td><%= host_show.hostStartYear %></td>
        <td><%= host_show.hostStartMonth %></td>
        <td><%= link_to 'Show', host_show %></td>
        <td><%= link_to 'Edit', edit_host_show_path(host_show) %></td>
        <td><%= link_to 'Destroy', host_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host show', new_host_show_path %>
