<p id="notice"><%= notice %></p>

<p>
  <strong>Hoststartyear:</strong>
  <%= @host_show.hostStartYear %>
</p>

<p>
  <strong>Hoststartmonth:</strong>
  <%= @host_show.hostStartMonth %>
</p>

<%= link_to 'Edit', edit_host_show_path(@host_show) %> |
<%= link_to 'Back', host_shows_path %>
