<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :stageName %><br>
    <%= f.text_field :stageName %>
  </div>
  <div class="field">
    <%= f.label :dateOfBirth %><br>
    <%= f.date_select :dateOfBirth %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, as: :integer, min: 0, max:10%>
  </div>
  <div class="field">
    <%= f.label :contractStartDate %><br>
    <%= f.date_select :contractStartDate %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.number_field :salary, as: :integer, min: 0%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
