<h1>Listing hosts</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Stage name</th>
      <th>Date of birth</th>
      <th>Rating</th>
      <th>Contract start date</th>
      <th>Contract end date</th>
      <th>Salary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.first_name %></td>
        <td><%= host.last_name %></td>
        <td><%= host.stage_name %></td>
        <td><%= host.date_of_birth %></td>
        <td><%= host.rating %></td>
        <td><%= host.contract_start_date %></td>
        <td><%= host.contract_end_date %></td>
        <td><%= host.salary %></td>
        <td><%= link_to 'Show', host %></td>

        <% if admin? %>
          <td><%= link_to 'Edit', edit_host_path(host) %></td>
          <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
  <%= link_to 'New Host', new_host_path %>
<% end %>