<h1>Listing hosts</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Stagename</th>
      <th>Dateofbirth</th>
      <th>Rating</th>
      <th>Contractstartdate</th>
      <th>Salary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.firstName %></td>
        <td><%= host.lastName %></td>
        <td><%= host.stageName %></td>
        <td><%= host.dateOfBirth %></td>
        <td><%= host.rating %></td>
        <td><%= host.contractStartDate %></td>
        <td><%= host.salary %></td>
        <td><%= link_to 'Show', host, class: "content-link" %></td>
        <td><%= link_to 'Edit', edit_host_path(host), class: "content-link" %></td>
        <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } , class: "content-link"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host', new_host_path, class: "content-link" %>
