<h1>Listing hosts</h1>

<table>
  <thead>
    <tr>
      <th>Employeenum</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Stagename</th>
      <th>Dateofbirth</th>
      <th>Rating</th>
      <th>Contractstartdate</th>
      <th>Salary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.id %></td>
        <td><%= host.firstName %></td>
        <td><%= host.lastName %></td>
        <td><%= host.stageName %></td>
        <td><%= host.dateOfBirth %></td>
        <td><%= host.rating %></td>
        <td><%= host.contractStartDate %></td>
        <td><%= host.salary %></td>
        <td><%= link_to 'Show', host, class: "content-link" %></td>
        <td><%= link_to 'Edit', edit_host_path(host), class: "content-link" %></td>
        <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } , class: "content-link"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host', new_host_path, class: "content-link" %><br>
<h1> Higher salary than Johns (4m): </h1>

<table>
  <thead>
    <tr>
      <th>FirstName</th>
      <th>Lastname</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <% @hosts[0].query4m().each do |host| %>
      <tr>
        <td><%= host['firstName'] %></td>
        <td><%= host['lastName'] %></td>
        <td><%= host['salary'] %></td>
         </tr>
    <% end %>
  </tbody>
</table>


<br><br>

<h1> Most diverse hosts (4n): </h1>

<table>
  <thead>
    <tr>
      <th>FirstName</th>
      <th>Lastname</th>
      <th>Shows</th>
      <th>TimeSlots</th>
    </tr>
  </thead>
  <tbody>
    <% @hosts[0].query4n().each do |host| %>
      <tr>
        <td><%= host['firstName'] %></td>
        <td><%= host['lastName'] %></td>
        <td><%= host['showName'] %></td>
        <td><%= host['timeSlot'] %></td>
         </tr>
    <% end %>
  </tbody>
</table>