<p id="notice"><%= notice %></p>

<p>
  <strong>Employeenum:</strong>
  <%= @host.employeeNum %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @host.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @host.lastName %>
</p>

<p>
  <strong>Stagename:</strong>
  <%= @host.stageName %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @host.dateOfBirth %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @host.rating %>
</p>

<p>
  <strong>Contractstartdate:</strong>
  <%= @host.contractStartDate %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @host.salary %>
</p>

<%= link_to 'Edit', edit_host_path(@host), class: "content-link" %> |
<%= link_to 'Back', hosts_path, class: "content-link" %>
