<p id="notice"><%= notice %></p>

<p>
  <strong>Starttime:</strong>
  <%= @time_slot.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @time_slot.endTime %>
</p>

<p>
  <strong>Shownum:</strong>
  <%= @time_slot.showNum %>
</p>

<p>
  <strong>Playsheetnum:</strong>
  <%= @time_slot.playsheetNum %>
</p>

<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
