<h1>Listing song_inventories </h1>

<table>
  <thead>
    <tr>
      <th>Songid</th>
      <th>Title</th>
      <th>Cancon</th>
      <th>Instrumental</th>
      <th>BandId</th>
      <th>ArtistId</th>
      <th>AlbumId</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @song_inventories.each do |song_inventory| %>
      <tr>
        <td><%= song_inventory.id %></td>
        <td><%= song_inventory.title %></td>
        <td><%= song_inventory.cancon %></td>
        <td><%= song_inventory.instrumental %></td>
        <td><%= song_inventory.band_id %></td>
        <td><%= song_inventory.artist_id %></td>
        <td><%= song_inventory.album_id %></td>
        <td><%= link_to 'Show', song_inventory, class: "content-link" %></td>
        <td><%= link_to 'Edit', edit_song_inventory_path(song_inventory), class: "content-link" %></td>
        <td><%= link_to 'Destroy', song_inventory, method: :delete, data: { confirm: 'Are you sure?' }, class: "content-link"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song inventory', new_song_inventory_path, class: "content-link" %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<br><br><br>

<h1> Recording Label Song Totals (4f): </h1>

<table>
  <thead>
    <tr>
      <th>Recording Label</th>
      <th># Songs</th>
    </tr>
  </thead>
  <tbody>
    <% @song_inventories[0].query4f().each do |res| %>
      <tr>
        <td><%= res['label'] %></td>
        <td><%= res['numSongs'] %></td>
         </tr>
    <% end %>
  </tbody>
</table>



<br><br><br>

<h1> Songs not played in Jan 2014 (4g): </h1>

<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Date recorded</th>
      <th>Artist</th>
      <th>Band</th>
    </tr>
  </thead>
  <tbody>
    <% @song_inventories[0].query4g().each do |res| %>
      <tr>
        <td><%= res['title'] %></td>
        <td><%= res['albumRecordingDate'] %></td>
        <td><%= res['artist_id'] %></td>
        <td><%= res['band_id'] %></td>
         </tr>
    <% end %>
  </tbody>
</table>



<br><br><br>

<h1> Albums played more often than Band X (4h): </h1><!add dropdown>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date recorded</th>
      <th>Artist</th>
      <th>Band</th>
    </tr>
  </thead>
  <tbody>
    <% @song_inventories[0].query4h(1).each do |res| %>
      <tr>
        <td><%= res['title'] %></td>
        <td><%= res['albumRecordingDate'] %></td>
        <td><%= res['firstName'] %> <%= res['lastName'] %></td>
        <td><%= res['name'] %></td>
         </tr>
    <% end %>
  </tbody>
</table>




<br><br><br>

<h1> Most played canadian artists (4i): </h1>

<table>
  <thead>
    <tr>
      <th>Artist Name</th>
      <th>Host Name</th>
    </tr>
  </thead>
  <tbody>
    <% @song_inventories[0].query4i().each do |res| %>
      <tr>
        <td><%= res['firstName'] %> <%= res['lastName']%></td><!host and artist both first and last names>
        <td><%= res['firstName'] %> <%= res['lastName']%></td>
         </tr>
    <% end %>
  </tbody>
</table>





<br><br><br>

<h1> Instrumental songs more popular than others? (4j): </h1>
<%= @song_inventories[0].query4j()[0]%>
