<p id="notice"><%= notice %></p>

<p>
  <strong>Songid:</strong>
  <%= @song_inventory.songID %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song_inventory.title %>
</p>

<p>
  <strong>Cancon:</strong>
  <%= @song_inventory.cancon %>
</p>

<p>
  <strong>Instrumental:</strong>
  <%= @song_inventory.instrumental %>
</p>

<p>
  <strong>Artistiid:</strong>
  <%= @song_inventory.artistiID %>
</p>

<p>
  <strong>Albumid:</strong>
  <%= @song_inventory.albumID %>
</p>

<%= link_to 'Edit', edit_song_inventory_path(@song_inventory) %> |
<%= link_to 'Back', song_inventories_path %>
