
<div id="container">

    <%= render 'layouts/header' %>


<h1>Songs</h1>

<div class="btn btn-success">
<%= link_to 'New Song', new_song_path %>
</div>

<table class="table table-bordered" style=" margin-left: 2%; margin-right: 2%; width: 95%;">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Canadian Content</th>
      <th>Instrumental</th>
      <th>Album</th>
      <th>Artist ID</th>
      <th>Band</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.song_id %></td>
        <td><%= song.title %></td>
        <td><%= song.cancon %></td>
        <td><%= song.instrumental %></td>
        <td><%= song.album_id %></td>
        <td><%= song.artist_id %></td>
        <td><%= song.band_id %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td> 
        <td><%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

      <%= render 'layouts/footer'%>

</div>


