<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @album.type %>
</p>

<p>
  <strong>Label:</strong>
  <%= @album.label %>
</p>

<p>
  <strong>Album recording date:</strong>
  <%= @album.album_recording_date %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
