<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @playsheet.date %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @playsheet.day_of_week %>
</p>

<% if admin? %>
<%= link_to 'Edit', edit_playsheet_path(@playsheet) %> |
<% end %>

<%= link_to 'Back', playsheets_path %>
