<h1>Listing play_sheets</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Dayofweek</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @play_sheets.each do |play_sheet| %>
      <tr>
        <td><%= play_sheet.date %></td>
        <td><%= play_sheet.dayOfWeek %></td>
        <td><%= link_to 'Show', play_sheet, class: "content-link" %></td>
        <td><%= link_to 'Edit', edit_play_sheet_path(play_sheet), class: "content-link" %></td>
        <td><%= link_to 'Destroy', play_sheet, method: :delete, data: { confirm: 'Are you sure?' } , class: "content-link"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Play sheet', new_play_sheet_path, class: "content-link" %>
