<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p>
  <strong>Playsheetnum:</strong>
  <%= @play_sheet.playSheetsNum %>
</p>
=======
>>>>>>> 2b28c03175d830aa1c3103873b39917a7a34f295

<p>
  <strong>Date:</strong>
  <%= @play_sheet.date %>
</p>

<p>
  <strong>Dateofweek:</strong>
  <%= @play_sheet.dayofweek  %>
</p>

<%= link_to 'Edit', edit_play_sheet_path(@play_sheet), class: "content-link" %> |
<%= link_to 'Back', play_sheets_path, class: "content-link" %>
