<p id="notice"><%= notice %></p>

<p>
  <strong>Playsheetnum:</strong>
  <%= @play_sheet.playSheetNum %>
</p>

<p>
  <strong>Date:</strong>
  <%= @play_sheet.date %>
</p>

<p>
  <strong>Dateofweek:</strong>
  <%= @play_sheet.dayOfWeek %>
</p>

<%= link_to 'Edit', edit_play_sheet_path(@play_sheet), class: "content-link" %> |
<%= link_to 'Back', play_sheets_path, class: "content-link" %>
