<h1>Listing shows</h1>
<% form_tag @show do |f| %>
<div>
<%= select_tag 'show_id', option_for_select(@shows.collect{|u| [u.showName, u.id]}) %>
</div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.showName %></td>
        
        <td><%= show.category %></td>
        <td><%= show.description %></td>
        <td><%= link_to 'Show', show, class: "content-link" %></td>
        <td><%= link_to 'Edit', edit_show_path(show), class: "content-link"  %></td>
        <td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' }, class: "content-link" %></td>
       
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<%= link_to 'New Show', new_show_path, class: "content-link"  %>
