<p id="notice"><%= notice %></p>

<p>
  <strong>Show name:</strong>
  <%= @show.show_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @show.category %>
</p>

<% if admin? %>
<%= link_to 'Edit', edit_show_path(@show) %> |
<% end %>

<%= link_to 'Back', shows_path %>
