	<div class="los_santos_header">
		<%= image_tag("header.jpg")%>
	</div>

<ul class="nav nav-tabs">
  <li><%= link_to "Home",   rls_path %></li>
  <li><%= link_to "Programs",   news_path %></li>
  <li><%= link_to "Database",   database_path %></li>
  <li><%= link_to "Songs",   songs_path %></li>
  <li><%= link_to "Recent Guests",   guests_path %></li>
  <li><%= link_to "HostsShow",   hosts_shows_path %></li>

      <p class="navbar-text navbar-right">~Blazin' hip hop across Los Santos for 25 years</p>
</ul>