	<div class="radio_website_header">
		<%# insert image #%>
	</div>

<ul class="nav nav-tabs">
  <li><%= link_to "Home",   rls_path %></li>
   <li><%= link_to "Guests",   guests_path %></li>
  <li><%= link_to "Music Inventory",   database_path %></li>
  <li><%= link_to "Songs",   songs_path %></li>
 
  <li><%= link_to "HostsShow",   hosts_shows_path %></li>

      
</ul>