<!DOCTYPE html>
<html>
<head>
	<title>RadioWebsite</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="header" id="header">
		<div class ="container" id="header-container">
			<%= RadioWebsite %>
		</div>
	</div>

	


	<nav id='nav_bar'>
		<div class ='nav_link'>
			<%= link_to "Home", root_path, class: "nav-link" %> 
			<%= link_to "Radio Shows", shows_path, class: "nav-link" %>
			<%= link_to "Hosts", hosts_path, class: "nav-link" %> 
			<%= link_to "Play Sheets", play_sheets_path, class: "nav-link" %> 
			<%= link_to "Song Inventory", song_inventories_path, class: "nav-link" %> 
			<%= link_to "Contact", contact_path, class: "nav-link" %> 
		</div>
	</nav>

	<div class="content">

		<div class="container">

			<div class="content-container">
			</div>

		</div>
	</div>

		<footer id="footer">
			<div class = "footer-container">
			Contact Us <br>
			Address:<br>
			Phone:<br>
			Email:<br>
			</div>

		</footer>


</body>
</html>
